Repository ally93/PatientPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-patients-api-job, lint-accounts-api-job, run-patients-api-tests-job, build-patients-portal-front-end-job, deploy-patients-api-job, deploy-accounts-api-job, deploy-patients-portal-front-end-job

lint-patients-api-job:
  image: python:3-bullseye
  stage: test
  script:
  - pip install flake8
  - flake8 api

lint-accounts-api-job:
  image: python:3-bullseye
  stage: test
  script:
  - pip install flake8
  - flake8 accounts_api

run-patients-api-tests-job:
  image: python:3.10-bullseye
  stage: test
  script:
  - cd api/
  - python -m pip install --upgrade pip
  - python -m pip install -r requirements.txt
  - python -m pytest
  variables:
    DATABASE_URL: postgresql://gamma:password@postgres/gamma

build-patients-portal-front-end-job:
  stage: build
  image: node:lts-bullseye
  variables:
    PUBLIC_URL: ${PUBLIC_URL}
    REACT_APP_ACCOUNTS_API_HOST: ${REACT_APP_ACCOUNTS_API_HOST}
    REACT_APP_PATIENTS_API_HOST: ${REACT_APP_PATIENTS_API_HOST}
  script:
  - cd ghi
  - npm install
  artifacts:
    paths:
    - build/

deploy-patients-api-job:
  stage: deploy
  dependencies:
  - run-patients-api-tests-job
  - lint-patients-api-job
  script:
  - 'curl --request POST --header "Content-Type: application/json" "https://api.render.com/deploy/srv-ce4p3hpgp3jkq2r2rj50?key=vHKBJ02zCy4"'

deploy-accounts-api-job:
  stage: deploy
  dependencies:
  - lint-accounts-api-job
  script:
  - 'curl --request POST --header "Content-Type: application/json" "https://api.render.com/deploy/srv-ce4pn7pgp3jkq2r407lg?key=7cvpSPL4XA8"'

deploy-patients-portal-front-end-job:
  stage: deploy
  dependencies:
  - build-patients-portal-front-end-job
  script:
  - 'curl --request POST --header "Content-Type: application/json" "https://api.render.com/deploy/srv-ce5bd9sgqg494100una0?key=QBXaKumtyhQ"'

Frontend CRUD completed
  accounts_api/migrations/002_account_migration.py
  ghi/src/PatientDetail.js
  ghi/src/PatientForm.js
  ghi/src/PatientUpdateForm.js
  ghi/src/PatientsList.js
Due: lint-accounts-api-job, build-patients-portal-front-end-job, deploy-accounts-api-job, deploy-patients-portal-front-end-job

typo in apis md
  docs/apis.md
Due: none

wireframe for home page logged in
  docs/ghi.md
  docs/wireframes/home-logged-in.png
Due: none

spacing
  docs/ghi.md
Due: none

Update docs/ghi.md
  docs/ghi.md
Due: none

patient list wireframe
  docs/ghi.md
  docs/wireframes/patient-list.png
Due: none

cleanup routers
  ghi/src/App.js
  ghi/src/Login.js
  ghi/src/MainPage.js
  ghi/src/PatientDetail.js
  ghi/src/PatientForm.js
  ghi/src/PatientUpdateForm.js
  ghi/src/PatientsList.js
  ghi/src/components/Navbar.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

fix eslint errors
  ghi/src/Login.js
  ghi/src/MainPage.js
  ghi/src/PatientsList.js
  ghi/src/RegisterForm.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

fix react hook val
  ghi/src/PatientsList.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

fix register link
  ghi/src/Login.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

fix autorefresh in patients
  .gitlab-ci.yml
  ghi/src/Login.js
  ghi/src/PatientsList.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

create patient read me
  docs/ghi.md
  docs/wireframes/create-patient.png
Due: none

landing page
  docs/ghi.md
  docs/wireframes/landing-page.png
Due: none

updated wireframes, added header and footer to questionnaire pages, moved add questionnaire button
  docs/ghi.md
  docs/wireframes/create-questionnaire.png
  docs/wireframes/edit-questionnaire.png
  docs/wireframes/logout-verification.png
  docs/wireframes/patient-detail.png
  docs/wireframes/questionnaire-detail.png
  docs/wireframes/questionnaire-list.png
  docs/wireframes/register.png
  docs/wireframes/update-patient.png
  ghi/src/QuestionnaireForm.js
  ghi/src/QuestionnairesList.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

updated landing page button
  docs/wireframes/landing-page.png
Due: none

updated questionnaire functionality
  README.md
Due: none

updated journal
  journals/sophie.md
Due: none

only readme updated, not ghi
  ghi/src/QuestionnaireForm.js
  ghi/src/QuestionnairesList.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

test
  accounts_api/main.py
  ghi/src/App.js
  ghi/src/MainPage.js
  ghi/src/PatientDetail.js
  ghi/src/PatientUpdateForm.js
  ghi/src/PatientsList.js
  ghi/src/QuestionnaireDetail.js
  ghi/src/QuestionnaireEdit.js
  ghi/src/QuestionnaireForm.js
  ghi/src/QuestionnairesList.js
  ghi/src/RegisterForm.js
  ghi/src/index.js
  ghi/src/useToken.js
Due: lint-accounts-api-job, build-patients-portal-front-end-job, deploy-accounts-api-job, deploy-patients-portal-front-end-job

testing branch for lint
  api/token_auth.py
Due: lint-patients-api-job, run-patients-api-tests-job, deploy-patients-api-job

cleaned up the app to have header and footer
  ghi/src/PatientsList.js
  ghi/src/QuestionnaireDetail.js
  ghi/src/QuestionnaireForm.js
  ghi/src/QuestionnairesList.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

everything runs locally fixed up lint error
  ghi/src/MainPage.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

remove hashrouter basename
  ghi/src/App.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

basename in app.js
  .gitlab-ci.yml
  ghi/src/App.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

changed back to browser router
  ghi/src/App.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

remove console logs
  ghi/src/Logout.js
  ghi/src/PatientsList.js
  ghi/src/RegisterForm.js
  ghi/src/useToken.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

set basename for browserrouter based on ennv var
  ghi/src/App.js
  journals/ally.MD
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

change from const to let
  ghi/src/App.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

add log
  ghi/src/App.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

change loading of basename
  ghi/src/App.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

add return
  ghi/src/App.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

revert basename to hardcoded
  ghi/src/App.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

trial of private routers
  .gitlab-ci.yml
  ghi/src/App.js
  ghi/src/PrivateRoute.js
  ghi/src/useToken.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

update basename
  ghi/src/App.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

deploy from branch
  .gitlab-ci.yml
Due: none

fix token refreshes
  ghi/src/useToken.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

store auth tokens in sessionStorage
  ghi/src/App.js
  ghi/src/PrivateRoute.js
  ghi/src/useToken.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

only deploy front end from main
  .gitlab-ci.yml
  ghi/src/PrivateRoute.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

Path conditions:
  lint-patients-api-job: any of: api/**/*
  lint-accounts-api-job: any of: accounts_api/**/*
  run-patients-api-tests-job: any of: api/**/*
  build-patients-portal-front-end-job: any of: ghi/**/*
  deploy-patients-api-job: any of: api/**/*
  deploy-accounts-api-job: any of: accounts_api/**/*
  deploy-patients-portal-front-end-job: any of: ghi/**/*
