Repository ally93/PatientPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-patients-api-job, lint-accounts-api-job, run-patients-api-tests-job, build-patients-portal-front-end-job, deploy-patients-api-job, deploy-accounts-api-job, deploy-patients-portal-front-end-job

lint-patients-api-job:
  image: python:3-bullseye
  stage: test
  script:
  - pip install flake8
  - flake8 api

lint-accounts-api-job:
  image: python:3-bullseye
  stage: test
  script:
  - pip install flake8
  - flake8 accounts_api

run-patients-api-tests-job:
  image: python:3.10-bullseye
  stage: test
  script:
  - cd api/
  - python -m pip install --upgrade pip
  - python -m pip install -r requirements.txt
  - python -m pytest
  variables:
    DATABASE_URL: postgresql://gamma:password@postgres/gamma

build-patients-portal-front-end-job:
  stage: build
  image: node:lts-bullseye
  variables:
    PUBLIC_URL: ${PUBLIC_URL}
    REACT_APP_ACCOUNTS_API_HOST: ${REACT_APP_ACCOUNTS_API_HOST}
    REACT_APP_PATIENTS_API_HOST: ${REACT_APP_PATIENTS_API_HOST}
  script:
  - cd ghi
  - npm install
  artifacts:
    paths:
    - build/

deploy-patients-api-job:
  stage: deploy
  dependencies:
  - run-patients-api-tests-job
  - lint-patients-api-job
  script:
  - 'curl --request POST --header "Content-Type: application/json" "https://api.render.com/deploy/srv-ce4p3hpgp3jkq2r2rj50?key=vHKBJ02zCy4"'

deploy-accounts-api-job:
  stage: deploy
  dependencies:
  - lint-accounts-api-job
  script:
  - 'curl --request POST --header "Content-Type: application/json" "https://api.render.com/deploy/srv-ce4pn7pgp3jkq2r407lg?key=7cvpSPL4XA8"'

deploy-patients-portal-front-end-job:
  stage: deploy
  dependencies:
  - build-patients-portal-front-end-job
  script:
  - 'curl --request POST --header "Content-Type: application/json" "https://api.render.com/deploy/srv-ce5bd9sgqg494100una0?key=QBXaKumtyhQ"'

debug build
  .gitlab-ci.yml
Due: none

switch artifact path for ghi
  .gitlab-ci.yml
Due: none

added auth override to unit test for questionnaires
  api/tests/test_questionnaires.py
Due: lint-patients-api-job, run-patients-api-tests-job, deploy-patients-api-job

push build path
  .gitlab-ci.yml
Due: none

try npm build:
  .gitlab-ci.yml
  ghi/run.sh
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

try npm run build
  .gitlab-ci.yml
Due: none

list files
  .gitlab-ci.yml
Due: none

try new artificat path
  .gitlab-ci.yml
Due: none

changed back to use 2 dbs for 2 services per instructions
  accounts_api/Dockerfile
  accounts_api/Dockerfile.dev
  accounts_api/migrations/002_account_migration.py
  docker-compose.yaml
Due: lint-accounts-api-job, deploy-accounts-api-job

copy token auth into patient portal api dockerfile
  api/Dockerfile
Due: lint-patients-api-job, run-patients-api-tests-job, deploy-patients-api-job

working login
  ghi/src/App.js
  ghi/src/Login.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

almost done with login
  ghi/src/App.js
  ghi/src/Login.js
  ghi/src/MainPage.js
  ghi/src/RegisterForm.js
  ghi/src/useToken.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

Fixed url in useToken
  ghi/src/useToken.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

add deploy to git webpages
  .gitlab-ci.yml
Due: none

fix yaml
  .gitlab-ci.yml
Due: none

test deploy front end
  .gitlab-ci.yml
Due: none

Front end auth protection
  accounts_api/main.py
  accounts_api/queries/accounts.py
  accounts_api/routers/accounts.py
  api/main.py
  api/routers/patients.py
  api/routers/questionnaires.py
  api/token_auth.py
  ghi/src/App.js
  ghi/src/Login.js
  ghi/src/PatientsList.js
Due: lint-patients-api-job, lint-accounts-api-job, run-patients-api-tests-job, build-patients-portal-front-end-job, deploy-patients-api-job, deploy-accounts-api-job, deploy-patients-portal-front-end-job

workin..auth
  ghi/src/App.js
  ghi/src/Login.js
  ghi/src/MainPage.js
  ghi/src/RegisterForm.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

add build cp command"
  .gitlab-ci.yml
Due: none

try defining var in ci file
  .gitlab-ci.yml
Due: none

trying to deploy frontend
  .gitlab-ci.yml
Due: none

trying to deploy front end
  .gitlab-ci.yml
Due: none

using var
  .gitlab-ci.yml
Due: none

marked out rules
  .gitlab-ci.yml
Due: none

fix formatting issues
  api/routers/questionnaires.py
  api/tests/test_questionnaires.py
  api/token_auth.py
Due: lint-patients-api-job, run-patients-api-tests-job, deploy-patients-api-job

fix unused vars
  ghi/src/Login.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

fix lint errors
  .gitlab-ci.yml
  accounts_api/queries/accounts.py
  accounts_api/routers/accounts.py
Due: lint-accounts-api-job, deploy-accounts-api-job

remove needs
  .gitlab-ci.yml
Due: none

hard coded the var
  .gitlab-ci.yml
Due: none

printenv to see what variables is being passed
  .gitlab-ci.yml
Due: none

pages has to be called pages!
  .gitlab-ci.yml
Due: none

loggingout..oflife
  ghi/src/App.js
  ghi/src/Logout.js
  ghi/src/components/Navbar.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

Logout test
  ghi/src/App.js
  ghi/src/LogOutTest.js
  ghi/src/Login.js
  ghi/src/useToken.js
Due: build-patients-portal-front-end-job, deploy-patients-portal-front-end-job

new readme file
  OLD-README.md
  README.md
  design.png
Due: none

added readme files in doc
  README.md
  docs/apis.md
  docs/data-model.md
  docs/ghi.md
  docs/table-design.png
Due: none

added to readme
  README.md
  docs/apis.md
  docs/data-model.md
  docs/endpoints.md
  docs/ghi.md
Due: none

fixed quote marks in data model md
  docs/data-model.md
Due: none

removed integreations in readme
  README.md
Due: none

typo in account
  docs/apis.md
Due: none

change intended market
  README.md
Due: none

Path conditions:
  lint-patients-api-job: any of: api/**/*
  lint-accounts-api-job: any of: accounts_api/**/*
  run-patients-api-tests-job: any of: api/**/*
  build-patients-portal-front-end-job: any of: ghi/**/*
  deploy-patients-api-job: any of: api/**/*
  deploy-accounts-api-job: any of: accounts_api/**/*
  deploy-patients-portal-front-end-job: any of: ghi/**/*
